<template>
  <div class="joindre">
    <label for="name" class="lblname">Entrer votre nom</label>
    <input type="text" v-model="userName" class="input-name" placeholder="votre nom">
    <label for="identifiant" class="lblidentifiant">Entrer votre Indentifiant</label>
    <input type="text" v-model="id" class="input-identifiant" placeholder="identifiant">
    <button class="btnJoindre" v-on:click="joing" v-on:keyup.enter="joing">Entrer</button>
  </div>
</template>
<script>
import io from "socket.io-client";

export default {
  name: 'chat-index',
  data() {
    return {
      userName: '',
      id: '',
    }
  },
  methods: {
    joing() {
      if (this.userName != '' && this.id != '') {
        this.$store.state.allUser.userName = this.userName;
        this.$store.state.allUser.id = this.id;
        this.$store.state.curentUser = this.userName;

        this.socketInstace = io("http://localhost:3000");

        this.socketInstace.on(
          'chat:user', (data) => {
            this.messages = this.messages.concat(data);
          }
        )
        const userId = {
          nameUser: this.userName,
          idUser: this.id,
        }
        this.socketInstace.emit('chat', userId);
        this.$router.push('/chat');
        this.user = ""
      }
    }
  }
}
</script>

<style lang="scss" src="./index.scss" scoped>

</style>
