.joindre {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .lblname {
    font-size: 40px;
    font-weight: bold;
  }

  .input-name {
    text-align: center;
    font-size: 30px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .btnJoindre {
    padding: 10px;
    background-color: rgb(64, 64, 233);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 2px;
    font-size: 30px;
    width: 25%;
  }
}