.Chat {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 10px;
  width: 100%;
  height: 100vh;
  position: relative;
  gap: 1px;

  .users {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    .title-user {
      display: flex;
      flex-direction: column;
      .title{
        font-weight: bold;
      }
      .recherche{
        border-radius: 30px;
      }
    }

    .alluser {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .user {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border-radius: 20px;
        .image{
          width: 30px;
          height: 30px;
          border: 1px solid black;
          border-radius: 100%;
        }
      }
    }

  }

  .conversation {
    display: flex;
    flex-direction: column;
    width: 70%;

    .curent-conversation {
      display: flex;
      flex-direction: row;
      gap: 10px;
      border-bottom: 1px solid black;
      padding-bottom: 2px;
      .image-curent-conversation{
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 100%;
      }
      .name-text{
        display: flex;
        flex-direction: column;
      }
    }

    .messages {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      flex: 1;
      position: relative;

      .message {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .curent-user-text {
          align-self: flex-start;
          background-color: rgb(64, 64, 233);
          color: white;
          border-radius: 50px;
          padding: 10px;
          margin: 3px;
        }

        .other-user-text {
          align-self: flex-end;
          background-color: rgb(27, 24, 24);
          color: white;
          padding: 10px;
          margin: 3px;
          border-radius: 50px;
        }
      }
    }
  }

  .message-text-saisie {
    display: flex;
    bottom: 0px;
    width: 100%;
    gap: 5px;

    .message-curent-text {
      width: 100%;
    }
  }
}