<template>
  <div class="Chat">
    <div class="users">
      <div class="title-user">
        <div class="title">Discussion</div>
        <input type="text" placeholder="Recherche" class="recherche">
      </div>

      <div class="alluser">
        <router-link :to="{ name: 'conversationCurentUser', params: { id: user.id } }" v-for="(user, index) in getUser" :key="index">
        <div class="user">
          <div class="image"></div>
          <div class="user-laste-text">
            <div class="curent-user">{{ user.userName }}</div>
            <div class="laste-text">texte</div>
          </div>
        </div>
        </router-link>
      </div>
    </div>
    <div class="conversation">
      <div class="curent-conversation">
        <div class="image-curent-conversation"></div>
        <div class="name-text">
          <div class="name-curent-conversation">{{ utilisateur }}</div>
          <div class="online">En ligne il y a 2min</div>
        </div>
      </div>
      <div class="messages">
        <div class="message" v-for="message in messages" :key="message.index">
          <div v-if="message.utilisateurs == utilisateur" class="curent-user-text"><b>{{ message.utilisateurs }} :
            </b>
            {{
                message.text
            }}</div>
          <div v-if="message.utilisateurs != utilisateur" class="other-user-text"><b>{{ message.utilisateurs }} : </b>
            {{
                message.text
            }}</div>
        </div>
      </div>
      <div class="message-text-saisie">
        <textarea name="message" class="message-curent-text" v-on:keyup.enter="envoieMessage" v-model="text"></textarea>
        <button id="btn-envoie" v-on:click="envoieMessage">Envoie</button>
      </div>
    </div>
  </div>
</template>
<script>
import io from "socket.io-client";

export default {
  name: "chateApp",
  data() {
    return {
      value: "",
      utilisateur: this.$store.state.curentUser,
      text: "",
      messages: [],
    };
  },
  mounted() {
    this.socketInstace = io("http://localhost:3000");

    this.socketInstace.on(
      'message:received', (data) => {
        this.messages = this.messages.concat(data);
      })
  },
  methods: {
    envoieMessage() {
      this.ajoutMessage();

      this.text = "";
    },
    ajoutMessage() {
      const message = {
        id: new Date().getTime(),
        text: this.text,
        utilisateurs: this.utilisateur,
      };
      this.messages = this.messages.concat(message);
      this.socketInstace.emit('message', message);
    }
  },
  computed: {
    getUser() {
      return this.$store.getters.getUser
    },
  },
}
</script>
<style lang="scss" src="./Chat.scss" scoped>

</style>